.items_container {
    position: relative;
    flex: 0 0 20em;
}
.link_icon {
    width: 30px;
    cursor: pointer;
    margin-left: 20px;
}
.items_container .tab_selected {
    font-size: 2em;
}
.add_listing_container {
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    margin-bottom: 10px;
    overflow: none;
}
.add_listing_container .row {
    display: flex;
    margin-bottom: 10px;
}
.warning_message {
    max-width: 100%;
    background-color: #ffeebb;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #f6cf53;
    color: #bc974c;
    display: flex;
    align-items: center;
    padding: 1em 0px 1em 10px;
    cursor: pointer;
}
.warning_icon {
    width: 1.5em;
}
.warning_message p {
    margin-left: 10px;
}
.url_input {
    flex-grow: 2;
    margin-right: 10px;
}

.item_name_input {
    flex-grow: 100;
}
.rating_input {
    flex-grow: 1;
    margin-left: 10px;
}
.price_input {
    flex-grow: 1;
}
.image_input {
    width: 100%;
}

.tag_container {
    flex-wrap: wrap;
}
.tag {
    padding: 4px 6px 4px 6px;
    border-radius: 15px;
    border: 1px black solid;
    font-size: 0.8rem;
}
.add_listing_container .tag {
    margin: 0px 10px 10px 0px;
    cursor: pointer;
}
.add_listing_container .tag_selected {
    background: black;
    color: white;
    opacity: 1;
}

.filter_container {
    margin-bottom: 10px;
    display: flex;
}
.current_filters p {
    margin: 0px 5px 0px 5px;
}
.filter_dropdown {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1em;
    cursor: pointer;
}
.listings_container .space_between {
    margin-bottom: 5px;
}
.listing {
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}
.rating {
    opacity: 1;
    border: 0;
    padding: 5px 10px 5px 10px;
    color: white;
}

@media only screen and (max-width: 992px) {
    .warning_message {
        padding: 10px 10px 10px 0px;
    }
    .warning_icon {
        display: none;
    }
    .tag_container {
        overflow: scroll;
    }
    .rating_input {
        margin-left: 0px;
    }
    .tag_container {
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
}

/* Stolen */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: 0.25em;
}

.separator:not(:empty)::after {
    margin-left: 0.25em;
}
