.preview_container {
    flex-basis: 0em;
    display: inline-block;
}
.preview {
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 10px;
    position: sticky;
    top: 10%;
    width: auto;
    height: auto;
    /* background-color: green; */
}
.preview_image_container {
    height: auto;
}
.preview_image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    width: 100%;
}
.preview_data {
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.preview_title {
    font-size: 1.4rem;
    margin-bottom: 1em;
}
.preview_comment {
    margin: 10px 0px 10px 0px;
}
.see_item {
    color: black;
}
.mini_preview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20vw;
    max-width: 80vw;
}
.mini_preview p,
.mini_preview h1 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
/* Mini Preview */
.mini_preview_image {
    max-width: 20vw;
    margin-bottom: 10px;
}

/* Different sizes */
@media only screen and (max-width: 992px) {
    .mini_preview_image {
        max-width: 80vw;
    }
}
