.tabs_container {
}

.logo {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    width: fit-content;
}
.credential_container {
    width: fit-content;
    cursor: pointer;
}
.credentials_button {
    width: 30px;
}
.tab {
    margin-bottom: 1rem;
    padding: 0px;
    height: auto;
}
.tab_delete_icon {
    width: 20px;
    position: absolute;
    left: -30px;
    top: 20%;
    cursor: pointer;
}

.tab_input {
    border: 0px;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    height: 20px;
}

.delete_tab {
    position: absolute;
    right: 10%;
}
.tab_text {
    font-size: 1.3rem;
    cursor: pointer;
}
.tab_active {
    text-decoration: underline;
}
